<div class="container">

  <h1><%= @task.title %></h1>
  <h3><%= @task.details %></h3>

  <p><%= link_to "Go back", tasks_path %></p>
  <p><%= link_to "Edit", edit_path %></p>
  <h4><%= link_to "Delete", destroy_path(@task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  </h4>

</div>
